body {
    padding-bottom: 1.25rem;
}
img {
    display: block;
    margin: 1.875rem auto;
    width: 20%;
}

h1 {
    text-align: center;
    margin-top: 1.25rem;
}
.row {
    margin-top: 1.25rem;
    
    img {
        width: 100%;
    }
}
h5,
.modal-body {
    color: #000;
}